/* search_jobs */
#search_jobs *{
	margin: 0;
	padding: 0;
}
#search_jobs a{
	text-decoration: none;
}
#search_jobs{
	max-width: 1170px;
	margin: 20px auto;
	padding: 10px 20px;
	color: #666;
}
#search_jobs h2{
	font-size: 200%;
	color: #438CCA;	
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	margin-bottom: 20px;			
}
#search_jobs .clearfix{
	clear: both;
}
/* form */
#search_jobs .search_jobs_form p{
	font-size: 120%;
	color: #525252;	
}
#search_jobs .search_jobs_form .text{
	width: 100%;
	display: block;
	text-indent: 10px;
	height: 32px;
	line-height: 32px;
	margin-top: 5px;
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#search_jobs .search_jobs_form .msg{
	color: #F00;
	margin-top: 10px;
	margin-left: 10px;
}
/* result list */
#search_jobs .list li{
	padding: 10px;
	cursor: pointer;
	margin: 0 auto;
	border-bottom: 1px solid #EEEEEE;
	list-style: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#search_jobs .list li:hover{
	color: #438CCA;	
	background-color: #EEEEEE;
}
#search_jobs .list li.selected{
	text-decoration: underline;	
	color: #438CCA;	
}
/* details */
#search_jobs .search_jobs_details{
	margin-top: 10px;
}
#search_jobs .search_jobs_details .item{
	padding: 20px;
	margin-bottom: 10px;
	background-color: #f8f8f8;
}
#search_jobs .search_jobs_details .sub_item{
	width: 48%;
	float: left;
	margin-right: 2%;
}
#search_jobs .predicted_job_numbers .sub_item{
	width: 45%;
	float: left;
	margin-right: 5%;
}
#search_jobs .search_jobs_details h3{
	font-size: 150%;
	margin-bottom: 10px; 
}
#search_jobs .search_jobs_details .item .title{
	font-size: 170%;
	font-weight: bold !important;
}
#search_jobs .search_jobs_details .industry ol li,
#search_jobs .search_jobs_details .tasks li{
	margin-left: 30px; 
	padding-left: 5px; 
}
#search_jobs .search_jobs_details .hours_earnings{
	overflow-x: auto;
	text-align: center;
}
#search_jobs .search_jobs_details .hours_earnings table{
	border-collapse: collapse;
	margin: 0 auto;
}
#search_jobs .search_jobs_details .hours_earnings th{
	border-bottom: 1px solid #dadada;
}
#search_jobs .search_jobs_details .hours_earnings th,
#search_jobs .search_jobs_details .hours_earnings td{
	text-align: center; 
	padding: 10px 20px;
}
#search_jobs .search_jobs_details .hours_earnings .col1{
	text-align: left; 
	font-weight: bold;
}
#search_jobs .search_jobs_details .gender{
	max-width: 80%; 
	margin-top: 40px;
	margin-left: 40px;
}
#search_jobs .search_jobs_details button{
	background-color: transparent;
	border: 0;
	color: #438CCA;
	font-size: 120%;
	margin-bottom: 10px;
	cursor: pointer;
}
#search_jobs.details_show .search_jobs_details{
	display: block;
}
#search_jobs .search_jobs_details,
#search_jobs.details_show .search_jobs_form{
	display: none;
}
#search_jobs .search_jobs_details .industry{
	margin-top: 20px;
}
#search_jobs .search_jobs_details .industry table{
	margin: 0 auto;
}
#search_jobs .search_jobs_details .industry td{
	padding: 5px 10px;
}
#search_jobs .search_jobs_details .industry .col1{
	width: 10px;
	padding: 0px;
	text-align: right;
}
#search_jobs .search_jobs_details .industry .col1,
#search_jobs .search_jobs_details .industry .col3{
	text-align: right;
}
#search_jobs .fa-print{
	float: right;
	font-size: 140%;
	margin-right: 20px;
	cursor: pointer;
}
#search_jobs .info{
	text-align: center;
	display: none;
	margin-top: 20px;
}
@media print{
	#search_jobs .search_jobs_details .item{
		background-color: #FFFFFF;
		margin-bottom: 0px;
	}
	#search_jobs .search_jobs_details button{
		display: none;
	}
	#search_jobs .search_jobs_details .gender{
		max-width: 95%;
		margin-left: 0px;
	}
	#search_jobs .search_jobs_details .sub_item canvas{
		max-width: 100%;
	}
	#search_jobs .predicted_job_numbers{
		page-break-before: always;
	}
	#search_jobs .predicted_job_numbers .sub_item{
		width: 100%;
		margin-bottom: 10px;
	}	
	#search_jobs .search_jobs_details .predicted_job_numbers canvas{
		margin-left: 50px;
	}
	#search_jobs .search_jobs_details {
		margin-top: -10px;
	}	
	#search_jobs .search_jobs_details .industry th{
		white-space: nowrap;		
	}	
	#search_jobs .search_jobs_details .industry td {
		padding: 2px 10px;		
	}
	#search_jobs .search_jobs_details h3 {
		font-size: 130%;
	}
	.container .no-print,
	#search_jobs h2,
	#search_jobs .fa-print,	
	#login-cell,
	#mega-menu{
		display: none;
	}
	#search_jobs .info{
		display: block;
	}
	.container .col-sm-12 div{
		border: 0 !important;
	}
}